<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureServiceBusConnectionString" value="Endpoint=sb://anth-700015-dev-sb-01.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=lxqmS2BhRYL1urzwXK5aLWk2m6wJKGxXF+ASbId/J6I=;TransportType=NetMessaging"/>
  </appSettings>
</configuration>